@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
body{
    background-color: #222;
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
}
nav .logo{
    max-width: 100%;
}
nav .logo img{
    width: 60px;
}
nav .nav-links{
    margin: auto;
    display: flex;    
    justify-content: space-between;
    gap: 4rem;
}
nav .nav-links .nav-item{
    list-style-type: none;
}
nav .nav-links .nav-item .link{
    text-decoration: none;
    color: #aaa;
    transition: all 0.3s ease;
    position: relative;   
}
nav .nav-links .nav-item .link::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #750000;
    position: absolute;
    left: 0;
    top: 150%;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}
nav .nav-links .nav-item .link:hover{
    color: white;
}
nav .nav-links .nav-item .link:hover::after{
    opacity: 1;
}
.btn{
    padding: 0.8rem 1.3rem;
    background-color: #520000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}
.btn:hover{
    background-color: #750000;
}

header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
header .hero{
    width: 100%;
}
header .hero h4{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
header .hero h4 span{
    color: transparent;
    -webkit-text-stroke: white 0.5px;
}
header .hero h2{
    font-size: 2rem;        
}
header .hero p{
    color: #aaa;
}
header .slika{
    display: inline-block;
    position: relative;
}
header .slika::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 1000px 100px #750000;
    z-index: -100;
}
header .slika img{
    width: 500px;    
}
.social{
    display: flex;
    gap: 2rem;
    justify-content: left;
    margin-top: 3rem;
}
.social a{
    text-decoration: none;
}

.social a i{
    font-size: 1.5rem;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 0.7rem;
    border-radius: 100%;
    background-color: #333;
    transition: all 0.3s;
}
.social a i:hover{
    color: white;
    background-color: #750000;
    border: #750000 solid 1px;
}
.oMeni{
    margin: 3rem auto;
}
.oMeni h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.oMeniGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.containerElement{
    border: 1px solid white;
    border-radius: 15px;
    background-color: #333;
    padding: 2rem;
    transition: all 0.3s;
}
.containerElement h4{
    display: inline-flex;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}
.containerElement i{
    color: #750000;
    font-weight: 700;
    padding-right: 0.5rem;
}
.containerElement p{
    color: #aaa;
    font-size: 0.9rem;
}
.containerElement:hover{
    background-color: #444;
}
.Projekti{
    margin: 6rem auto;
}
.Projekti h2{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.Projekti p{
    color: #aaa;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 0.9rem;
}
.projektiContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin: 2rem auto;
}
.projekat{
    border: white 1px solid;
    border-radius: 15px;
    padding: 2rem;
    background-color: #333;
    transition: all 0.3s;
}
.projekat img{
    width: 100%;
}
.projekat p{
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    width: 90%;
    padding: 1rem 0;
}
.projekat:hover{
    background-color: #444;
}

.Paketi .containerElement i{
    color: white;
    padding: 0;
}
.Cenovnik h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 3rem auto;
}
.Cenovnik p{
    color: #aaa;
    text-align: center;
    font-size: 0.9rem;
}
.Cenovnik .Paketi h2{
    font-size: 1.5rem;
    margin: 0 auto;
}
.Cenovnik h2 span{
    color: #efbf04;
}
.Cenovnik .Paketi{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 3rem auto;
}
.Cenovnik .Paketi .containerElement ul{
    list-style-type: none;
    color: #aaa;
    margin: 2rem 0;
    font-size: 0.9rem;
}
.Cenovnik .Paketi .containerElement ul li{
    line-height: 1.8rem;
}
.Cenovnik .Paketi .containerElement h6{
    color: #aaa;
    text-align: center;
}
.Cenovnik .Paketi .containerElement h4{
    font-size: 1.8rem;
    padding: 1rem 0;
}
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    margin: 5rem auto;
    padding-top: 2rem;
    border-top: 1px solid white;
}
.footer .logo{
    max-width: 100%;
}
.footer .logo img{
    width: 100px;
}
.kontakt, .socialFooter{
    padding: 1rem;
}
.kontakt h2, .socialFooter h2{
    color: white;
    font-size: 1.3rem;
}
.kontakt ul{
    list-style-type: none;
    color: #aaa;
    margin: 1rem auto;
    font-size: 0.9rem;
}
.socialFooter ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
}
.socialFooter ul li a{
    text-decoration: none;
    color: #aaa;
    transition: all 0.3s;
    font-size: 1.5rem;
    
}
.socialFooter ul li a:hover{
    color: white;
}
.BackToTop{
    color: #aaa;
    text-align: center;
    padding: 1rem;
}
.BackToTop a{
    display: inline-block;
    margin: 2rem;
    text-decoration: none;
    color: #aaa;
}
.BackToTop a i{
    border: 1px solid white;
    padding: 0.6rem;
    border-radius: 50%;
    transition: all 0.3s;
}
.BackToTop a i:hover{
    border-color: #750000;
    background-color: #750000;
    color: white;
}
.BackToTop p{
    font-size: 0.9rem;
}

@media (width < 1200px) {
    .oMeniGrid{
        padding: 1rem;
    }
    .projektiContainer{
        padding: 1rem;
    }
    .Cenovnik{
        padding: 1rem;
    }
    .footer{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media(width < 900px){
    .nav-links a{
        display: none;
    }
    .oMeniGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 600px){
    header{
        flex-direction: column;
    }
    .oMeniGrid{
        grid-template-columns: 1fr;
    }
    .Cenovnik .Paketi{
        grid-template-columns: 1fr;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
    }
}
